/* Estilo del Body */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

 /* ESTILO DIV DE CARGA*/

  #carga {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFC3D2;
    opacity: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.circulo {
    border: 8px solid #f3f3f300;
    border-radius: 50%;
    border-top: 8px solid white;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

#carga h4{
    color: white;
    font-size: 16px;
    padding: 4%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#carga2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    opacity: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.circulo2 {
    border: 8px solid #f3f3f300;
    border-radius: 50%;
    border-top: 8px solid #FFC3D2;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}




/* ESTILOS PAGINA HOME */
/* Estilo del PreNav */
#prenav {
    background-color: #FFC3D2;
    display: flex;
    align-items: center;
    height: 12vh;
    position: relative; /* Para posicionar el menú hamburguesa */
}

#prenav .material-symbols-outlined {
    color: white;
}

#prenav #buscador {
    margin-left: 10%;
    cursor: pointer; /* Hacer clic en el ícono de menú hamburguesa */
    display: flex;
    align-items: center;
}

#prenav #logopagina {
    width: 150px;
    margin-left: 33%;
}

#prenav #micuenta{
    margin-left: 30%;

} 

#prenav #carrito {
    margin-left: 1%;
}



/* Estilo del Nav */
nav {
    background-color: #FFF7F7;
    padding: 10px 0;
    position: relative;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 5px;
    margin: 0;
}

nav > ul > li {
    position: relative;
    margin: 0;
}

nav > ul > li > a {
    height: 100%;
    color: #FFC3D2;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

nav > ul > li > a:hover {
    color: #A97280;
    text-decoration: underline;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #FFF7F7;
    border: 1px solid #ddd;
}

.submenu li {
    padding: 10px;
}

.submenu li a {
    text-decoration: none;
    color: #333;
}

.menu-item:hover .submenu {
    display: block;
}

.submenu li:hover {
    background-color: #FFC3D2;
}

.submenu li a:hover {
    color: #000;
}




/* Estilo Primer Contenedor (SECCION "INDEX") */

#contenedor1 {
    display: flex; /* Usa Flexbox para alinear los divs en una fila */
    height: 480px;
    justify-content: center;

}


/* Contenedor Imagen1 */

.image-container {
    background-color: pink;
    margin-top: 2%;
    overflow: hidden; /* Asegura que la imagen no desborde el contenedor durante el zoom */
    width: 220px; /* Ajusta el ancho del contenedor */
    height: 450px; /* Ajusta el alto del contenedor */
}

.image-container img {
    width: 110%; /* Hace que la imagen se ajuste al ancho del contenedor */
    height: 140%; /* Hace que la imagen se ajuste a la altura del contenedor */
    object-fit: cover; /* Asegura que la imagen cubra todo el contenedor sin distorsión */
    transition: transform 0.5s ease; /* Suaviza el efecto de zoom */
}

.image-container:hover img {
    transform: scale(1.2); /* Aplica el efecto de zoom al pasar el mouse */
}

/* Contenedor Imagen2 */

.image-container2 {
    background-color: red;
    margin-top: 2%;
    overflow: hidden; /* Asegura que la imagen no desborde el contenedor durante el zoom */
    width: 220px; /* Ajusta el ancho del contenedor */
    height: 450px; /* Ajusta el alto del contenedor */
}

.image-container2 img {
    width: 110%; /* Hace que la imagen se ajuste al ancho del contenedor */
    height: 140%; /* Hace que la imagen se ajuste a la altura del contenedor */
    object-fit: cover; /* Asegura que la imagen cubra todo el contenedor sin distorsión */
    transition: transform 0.5s ease; /* Suaviza el efecto de zoom */
}

.image-container2:hover img {
    transform: scale(1.2); /* Aplica el efecto de zoom al pasar el mouse */
}

/* Contenedor Imagen3 */

.image-container3 {
    background-color: blue;
    margin-top: 2%;
    overflow: hidden; /* Asegura que la imagen no desborde el contenedor durante el zoom */
    width: 220px; /* Ajusta el ancho del contenedor */
    height: 450px; /* Ajusta el alto del contenedor */
}

.image-container3 img {
    width: 110%; /* Hace que la imagen se ajuste al ancho del contenedor */
    height: 140%; /* Hace que la imagen se ajuste a la altura del contenedor */
    object-fit: cover; /* Asegura que la imagen cubra todo el contenedor sin distorsión */
    transition: transform 0.5s ease; /* Suaviza el efecto de zoom */
}

.image-container3:hover img {
    transform: scale(1.2); /* Aplica el efecto de zoom al pasar el mouse */
}

/* Contenedor Imagen4 */

.image-container4 {
    background-color: yellow;
    margin-top: 2%;
    overflow: hidden; /* Asegura que la imagen no desborde el contenedor durante el zoom */
    width: 220px; /* Ajusta el ancho del contenedor */
    height: 450px; /* Ajusta el alto del contenedor */
}

.image-container4 img {
    width: 110%; /* Hace que la imagen se ajuste al ancho del contenedor */
    height: 140%; /* Hace que la imagen se ajuste a la altura del contenedor */
    object-fit: cover; /* Asegura que la imagen cubra todo el contenedor sin distorsión */
    transition: transform 0.5s ease; /* Suaviza el efecto de zoom */
}

.image-container4:hover img {
    transform: scale(1.2); /* Aplica el efecto de zoom al pasar el mouse */
}

/* Contenedor Imagen5 */

.image-container5 {
    background-color: green;
    margin-top: 2%;
    overflow: hidden; /* Asegura que la imagen no desborde el contenedor durante el zoom */
    width: 220px; /* Ajusta el ancho del contenedor */
    height: 450px; /* Ajusta el alto del contenedor */
    
}

.image-container5 img {
    width: 110%; /* Hace que la imagen se ajuste al ancho del contenedor */
    height: 140%; /* Hace que la imagen se ajuste a la altura del contenedor */
    object-fit: cover; /* Asegura que la imagen cubra todo el contenedor sin distorsión */
    transition: transform 0.5s ease; /* Suaviza el efecto de zoom */
}

.image-container5:hover img {
    transform: scale(1.2); /* Aplica el efecto de zoom al pasar el mouse */
}



/* ESTILO CONTENEDOR 2 (SECCION "INDEX")*/

#contenedor2{

    display: flex; /* Usa Flexbox para alinear los divs en una fila */
    height: 300px;
    justify-content: center;
    margin-top: 20px;

}

#contenedor2 #titulos{
    margin-top: 2%;
    margin-bottom: 2%;
    width: 30%;
    text-align: center;
    opacity: 0; /*FADE IN DE ENTRADA*/
    transition: opacity 1s ease-in-out; /*FADE IN DE ENTRADA*/

}

/*FADE IN DE ENTRADA- CONTENEDOR 2 (SECCION "INDEX")*/

#contenedor2 #titulos.visible {
    opacity: 1;
}

section:nth-child(odd) {
    background-color: #f0f0f0;
}

section:nth-child(even) {
    background-color: #e0e0e0;
}

/*TERMINA FADE IN DE ENTRADA*/


#contenedor2 h3{
    font-size: 50px;
    font-weight:bold ;
    font-family: 'Times New Roman', Times, serif;
    color: #FFC3D2;

}
#contenedor2 h6{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: #FFC3D2;

}

#contenedor2 #textos{
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 10px;
    width: 35%;
    opacity: 0; /*FADE IN DE ENTRADA*/
    transition: opacity 1s ease-in-out; /*FADE IN DE ENTRADA*/
}

/*FADE IN DE ENTRADA*/

#contenedor2 #textos.visible {
    opacity: 1;
}

section:nth-child(odd) {
    background-color: #f0f0f0;
}

section:nth-child(even) {
    background-color: #e0e0e0;
}

/*TERMINA FADE IN DE ENTRADA*/

#contenedor2 #textos p{
    font-size: 16px;
    text-align: justify;
    color: #A97280;
}

#contenedor2 #botonSabermas{
    background-color: #FFC3D2;
    color: white;
    margin-left: 40%;
    padding: 1,8%;
    padding-left: 4%;
    padding-right: 4%;
}

#contenedor2 #botonSabermas:hover{
    background-color: #A97280;
    color: #FFF7F7;
}


/*FADE IN TEXTO CONTENEDOR 2 (SECCION "INDEX")*/

.pruebafadein {
    background-color: red;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.pruebafadein.visible {
    opacity: 1;
}

section:nth-child(odd) {
    background-color: #f0f0f0;
}

section:nth-child(even) {
    background-color: #e0e0e0;
}


/*CONTENEDOR 3 (SECCION "INDEX")*/

#contenedor3 {
    width: 75%;
    height: 550px;
   /* background-color: green; */
    display: flex;
    margin-left: 13%;
}

#contenedor3 #textos2 {
    width: 50%;
    opacity: 0; /*FADE IN DE ENTRADA*/
    transition: opacity 1s ease-in-out; /*FADE IN DE ENTRADA*/
}

#contenedor3 h3{
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    color: #FFC3D2;
    text-align: center;
}

#contenedor3 p{
    color: #A97280;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 15%;
    width: 70%;
    text-align: justify;

}

#contenedor3 #botonContacto{
    background-color: #FFC3D2;
    color: white;
    margin-left: 40%;
    padding: 1,8%;
    padding-left: 2%;
    padding-right: 2%;
}

#contenedor3 #botonContacto:hover{
    background-color: #A97280;
    color: #FFF7F7;
}

/*FADE IN DE ENTRADA- CONTENEDOR 3*/

#contenedor3 #textos2.visible {
    opacity: 1;
}

section:nth-child(odd) {
    background-color: #f0f0f0;
}

section:nth-child(even) {
    background-color: #e0e0e0;
}

/*TERMINA FADE IN DE ENTRADA*/

/*FADE IN TEXTO CONTENEDOR 3 (SECCION "INDEX")*/

.pruebafadein {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

.pruebafadein.visible {
    opacity: 1;
}

section:nth-child(odd) {
    background-color: #f0f0f0;
}

section:nth-child(even) {
    background-color: #e0e0e0;
}



/*CARRUSEL CONTENEDOR 3 (SECCION "INDEX")*/

.carousel {
    position: relative;
    width: 50%;
    height: 500px; /* Ajusta según el tamaño deseado */
    margin: auto;
    overflow: hidden;
}

.carousel-images {
    background-color: #FFF7F7;
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen cubra el contenedor */
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.carousel-image.active {
    opacity: 1;
}

.carousel button {
    position: absolute;
    top: 50%;
    background-color: transparent; /* Fondo transparente */
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 3px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}



/*ESTILO CONTENEDOR 4 (SECCION "INDEX")*/

#contenedor4 {
    background-color: white;
    height: 980px;
}


#contenedor4 h3{
    font-size: 38px;
    font-family: 'Times New Roman', Times, serif;
    color: #FFC3D2;
    text-align: center;

}

#contenedor4 #cartas{
    background-color: #FFF7F7;
    display: flex;
    height: 700px;
    width: 100%;
    gap: 30px; /* Espacio entre los elementos */
    justify-content: center;
}

.card1 {
    margin-top: 42px;
    position: relative;
    width: 300px; /* Ancho de la tarjeta */
    height: 600px; /* Altura de la tarjeta */
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves para el agrandamiento y la sombra */
}

.card1:hover{
    transform: scale(1.05); /* Agranda la tarjeta al pasar el mouse */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Cambia la sombra para un efecto más pronunciado */
}
.card-description{
    background-color: white;
    height: 100%;
    padding: 20px;
}

.card-description h2{
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
    color: #FFC3D2;
   
}


.card-description p{
    font-size: 16px;
    text-align: justify;
    color: #A97280;
}

.card-description #botonSabermas{
    background-color: #FFC3D2;
    color: white;
    padding: 1,8%;
    padding-left: 4%;
    padding-right: 4%;
    margin-left: 31%;
}

.card-description #botonSabermas:hover{
    background-color: #A97280;
    color: #FFF7F7;
}


#card1-image{
    width: 100%;
    height: 30%; /* Ajusta la altura según sea necesario */
    object-fit: cover;  /* Asegura que la imagen cubra el área sin distorsión */
}


/* ESTILO PAGINA PRODUCTOS- MERCHANDISING */

/*ESTILO CARDS DE LA SECCION PRODUCTOS- MERCHANDISING (JSON)*/

#productosJSONH3 {
margin: auto;
width: 90px;
}

#productosContainer {
display: flex;
flex-wrap: wrap;
gap: 2%;
justify-content: center;
margin: auto;
max-width: 1200px;
}

.cartasProductos {
border: 0.3px solid #ccc;
border-radius: 8px;
padding: 10px;
width: 20%;  
height: 40%;
box-sizing: border-box;
text-align: center;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
margin-top: 25px;
}

.cartasProductos img {
width: 100%;
height: 55%;
}

.cartasProductos h3 {
margin: 0 0;
font-size: 75%;
}

.cartasProductos p {
margin: 2% 0;
color: #555;
font-size: 50%;
}

.cartasProductos .precio {
font-weight: bold;
font-size: 110%;
}

.cartasProductos .stock {
color: #2ecc71;
font-size: 70%;
} 

.cartasProductos button {
    background-color: #FFC3D2;
    color: white;
    padding: 8px;
    padding-left: 6%;
    padding-right: 6%;
    margin: auto;
    border: none;
    font-size: 14px;
    border-radius: 8px;
    }

    .cartasProductos button:hover {
        background-color: #A97280;
        color: #FFF7F7;
      
        }


@media (max-width: 645px) {
.cartasProductos {
height: 60%;
}
.cartasProductos img{
width: 100%;
height: 80%;
}
.cartasProductos p {
display: none;
}
.cartasProductos .stock {
display: none;
}
}
@media (max-width: 480px) {
.cartasProductos h3 {
display: none;
}
.cartasProductos img{
width: 100%;
height: 100%;
}
}


/* ESTILO PAGINA PRODUCTOS- COMICS */

/*ESTILO CARDS DE LA SECCION PRODUCTOS- COMICS(JSON)*/

#comicsJSONH3 {
    margin: auto;
    width: 90px;
    }
    
    #comicsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    justify-content: center;
    margin: auto;
    max-width: 1200px;
    }
    
    .cartasProductos {
    border: 0.3px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    width: 20%;  
    height: 40%;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin-top: 25px;
    }
    
    .cartasProductos img {
    width: 100%;
    height: 55%;
    }
    
    .cartasProductos h3 {
    margin: 0 0;
    font-size: 75%;
    }
    
    .cartasProductos p {
    margin: 2% 0;
    color: #555;
    font-size: 90%;
    }
    
    .cartasProductos .precio {
    font-weight: bold;
    font-size: 110%;
    }
    
    .cartasProductos .stock {
    color: #2ecc71;
    font-size: 70%;
    } 
    
    .cartasProductos button {
        background-color: #FFC3D2;
        color: white;
        padding: 8px;
        padding-left: 6%;
        padding-right: 6%;
        margin: auto;
        border: none;
        font-size: 14px;
        border-radius: 8px;
        }
    
        .cartasProductos button:hover {
            background-color: #A97280;
            color: #FFF7F7;
          
            }
    
    
    @media (max-width: 645px) {
    .cartasProductos {
    height: 60%;
    }
    .cartasProductos img{
    width: 100%;
    height: 80%;
    }
    .cartasProductos p {
    display: none;
    }
    .cartasProductos .stock {
    display: none;
    }
    }
    @media (max-width: 480px) {
    .cartasProductos h3 {
    display: none;
    }
    .cartasProductos img{
    width: 100%;
    height: 100%;
    }
    }



/*ESTILO CONTENEDOR 5 (SECCION "PROYECTOSJUEGOS")*/

#contenedor5 h3{
    font-size: 38px;
    font-family: 'Times New Roman', Times, serif;
    color: #FFC3D2;
    text-align: center;
}

#contenedor5 #contenedor5texto{
    background-color: #FFF7F7;
}

#contenedor5 #contenedor5texto p{
    font-size: 16px;
    text-align: justify;
    color: #A97280;
    width: 65%;
    margin: auto;
    padding: 35px;

}

#contenedor6 h3{
    font-size: 38px;
    font-family: 'Times New Roman', Times, serif;
    color: #FFC3D2;
    text-align: center;

}
/* Estilo reproductor de video*/

.video-container {
    position: relative;
    width: 800px;
    height: 450px;
    margin: auto; /* Centra el contenedor si es necesario */
    background: #FFF7F7;
}

.video-container iframe {
    position: absolute;
    width: 100%;
    height: 100%;

}
#contenedor6botones{
    display: flex;
}

#contenedor6botones #botonDescarga1{
    background-color: #FFC3D2;
    color: white;
    padding: 8px;
    padding-left: 4%;
    padding-right: 4%;
    margin-left: 34%;
}

#contenedor6botones #botonDescarga1:hover{
    background-color: #A97280;
    color: #FFF7F7;
}

#contenedor6botones #botonDescarga2{
    background-color: #FFC3D2;
    color: white;
    padding: 8px;
    padding-left: 4%;
    padding-right: 4%;
    margin-left: 5%;
}

#contenedor6botones #botonDescarga2:hover{
    background-color: #A97280;
    color: #FFF7F7;
}


/*ESTILO CONTENEDOR 7 (SECCION "PROYECTOSCOMICS")*/

#contenedor7{
    height: 500px;
}

#contenedor8{
   /* background-color: yellow;*/
    height: 500px;
}

#contenedor9{
    /*background-color: blue;*/
    height: 500px;
}

#contenedor7 h5, #contenedor8 h5, #contenedor9 h5{
    font-size: 38px;
    font-family: 'Times New Roman', Times, serif;
    color: #FFC3D2;
    text-align: center;

}
#contenedor7 #botones, #contenedor8 #botones, #contenedor9 #botones{
    width: 200px;
    height: 150px;
    margin: auto;
    margin-top: 20px;
    
}

#contenedor7 #botonSabermas, #contenedor8 #botonSabermas, #contenedor9 #botonSabermas{
    background-color: #FFC3D2;
    color: white;
    padding: 8px;
    padding-left: 7%;
    padding-right: 7%;
    
}

#contenedor7 #botonSabermas:hover, #contenedor8 #botonSabermas:hover, #contenedor9 #botonSabermas:hover{
    background-color: #A97280;
    color: #FFF7F7;
}

#contenedor7 #botonComprar, #contenedor8 #botonComprar, #contenedor9 #botonComprar{
    background-color: #FFC3D2;
    color: white;
    margin-top: 20px;
    padding: 8px;
    padding-left: 7%;
    padding-right: 7%;

}

#contenedor7 #botonComprar:hover, #contenedor8 #botonComprar:hover, #contenedor9 #botonComprar:hover{
    background-color: #A97280;
    color: #FFF7F7;
}

#contenedor7 p, #contenedor8 p, #contenedor9 p{
    font-size: 16px;
    text-align: justify;
    color: #A97280;
    width: 65%;
    margin: auto;
    padding: 10px;

}

/*Agrandar las imagenes*/
      #contenedor7 #imagenComic{
          width: 200px; /* Ancho del contenedor */
          height: 450px; /* Altura del contenedor */
          overflow: hidden; /* Oculta las partes de la imagen que se salen del contenedor */

      }

      #contenedor7 #imagenComic img {
          transition: transform 0.3s ease; /* Transición suave para el efecto de agrandamiento */
          width: 100%; /* La imagen ocupa todo el contenedor */
          height: auto; /* Mantiene la relación de aspecto */
      }

      #contenedor7 #imagenComic:hover img {
          transform: scale(1.2); /* Agranda la imagen al pasar el mouse */
      }

      #contenedor8 #imagenComic2 {
          width: 200px; /* Ancho del contenedor */
          height: 450px; /* Altura del contenedor */
          overflow: hidden; /* Oculta las partes de la imagen que se salen del contenedor */
    
      }

      #contenedor8 #imagenComic2 img {
          transition: transform 0.3s ease; /* Transición suave para el efecto de agrandamiento */
          width: 100%; /* La imagen ocupa todo el contenedor */
          height: auto; /* Mantiene la relación de aspecto */
      }

      #contenedor8 #imagenComic2:hover img {
          transform: scale(1.2); /* Agranda la imagen al pasar el mouse */
      }

      #contenedor9 #imagenComic3.col {
          width: 200px; /* Ancho del contenedor */
          height: 450px; /* Altura del contenedor */
          overflow: hidden; /* Oculta las partes de la imagen que se salen del contenedor */
      
      }

      #contenedor9 #imagenComic3 img {
          transition: transform 0.3s ease; /* Transición suave para el efecto de agrandamiento */
          width: 100%; /* La imagen ocupa todo el contenedor */
          height: auto; /* Mantiene la relación de aspecto */
      }

      #contenedor9 #imagenComic3:hover img {
          transform: scale(1.2); /* Agranda la imagen al pasar el mouse */
      }

      /*Animacion fondo de los titulos*/

      .animated-title {
          position: relative;
          display: inline-block;
          font-size: 2em; /* Tamaño del título */
          padding: 10px; /* Espacio alrededor del texto */
          overflow: hidden; /* Asegura que la animación no se salga del contenedor */
      }

      .animated-title::before {
          content: '';
          position: absolute;
          top: 0;
          left: -100%;
          width: 100%;
          height: 100%;
          background-color: #A97280; /* Color sólido para la animación */
          transition: left 0.6s ease; /* Duración de la animación */
          z-index: -1; /* Coloca el pseudo-elemento detrás del texto */
      }

      .animated-title:hover::before {
          left: 100%;
      }




/*ESTILO FORMULARIO DE CONTACTO (SECCION "CONTACTO")*/


#formularioContacto {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 400px;
    width: 100%;
    margin :auto;
    color: #A97280
}
#formularioContacto h2 {
    margin-top: 0;
}
#formularioContacto input, #formularioContacto textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
#formularioContacto textarea {
    resize: vertical;
    height: 100px;
}
#formularioContacto button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #FFC3D2;
    color: white;
    font-size: 16px;
    cursor: pointer;

}
#formularioContacto button:hover {
    background-color: #A97280;
    color: #FFF7F7;
}

/*ESTILO PAGINA MENSAJE RECIBIDO*/



      
       .thank-you-container {
           background: white;
           padding: 2%;
           border-radius: 8px;
           box-shadow: 0 0 10px rgba(0,0,0,0.1);
           width: 600px;
           text-align: center;
           margin: auto;
       }
       .thank-you-container h2 {
           margin-top: 0;
       }
       .thank-you-container p {
           margin: 20px 0;
           font-size: 18px;
       }
       .thank-you-container a {
           color: #A97280;
           text-decoration: none;
           font-weight: bold;
       }
       .thank-you-container a:hover {
           text-decoration: underline;
       }
   

       /*ESTILO PAGINA "CARRITO"*/

 
       .cart-message {
   text-align: center;
   padding: 4%;
   background-color: #ffffff;
   border: 1px solid #ddd;
   border-radius: 8px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   width: 50%;
   margin: auto;
   color: #A97280;
   
}




















/*ESTILO FOOTER*/

footer {
    background-color: #FFC3D2;
    height: 400px;


}

footer #redes{
  /*  background-color: green;*/
    display: flex; /* Usa Flexbox para alinear los divs en una fila */
    justify-content: space-between; 
    width: 12%;
    height: 100px;
    margin-left: 43%;
    padding-top: 25px;

}


footer #contenido{
    display: flex;
    justify-content: space-between; /* Espacio igual entre los divs */
    align-items: stretch; /* Asegura que todos los divs tengan la misma altura */
    gap: 10px; /* Espacio entre los divs (opcional) */
    width: 90%; /* Ocupa el ancho completo del contenedor */
    padding: 10px; /* Opcional: para dar espacio alrededor del contenedor */
    margin-left: 2%;
    color: white;

  }

  footer #contenido ul{
    list-style-type: none;
  }
  footer #contenido ul li{
    padding-bottom: 15%;
  }

  
  footer #contenido #logopagina{
    width: 200px;
    margin-top: 50px;
    margin-left: 10%;
  }

  

  footer #contenido #columnaAyuda a{
    color:white;
    text-decoration: none;

        
  }

  footer #contenido #columnaAyuda a:hover{
   text-decoration: underline;
        
  }

/*DISEÑO RESPONSIVE, ADAPTACION PARA PANTALLAS*/




  /*MENU HAMBURGUESA*/
/* Estilo del Menú Hamburguesa */
#menu-toggle {
    display: none;
}


@media (max-width: 1080px) {

    #contenedor4 {
        height: 2100px;
    }
    #contenedor4 #cartas{
        flex-direction: column;
        height: 1950px;
        justify-content: center;
}

.card1{
    margin-top: 20px;
    margin: auto;
    width: 50%; /* Ancho de la tarjeta */
    height: 30%; /* Altura de la tarjeta */
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 30px;
    
}

.card-description #botonSabermas{
    
    padding: 1,8%;
    padding-left: 4%;
    padding-right: 4%;
}

.card-description{
    height: 70%;
}

footer{
    margin-top: 60px;
    height: 860px;
}

footer #contenido {
    flex-direction: column
}

footer #contenido #logopagina, #columnaAyuda, #columnaContacto{
    margin-top: 30px;
  }
footer #contenido ul li{
    padding-bottom: 5%;
  }


}



@media (max-width: 1000px) {
    #main-nav {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #FFF7F7;
    }

    #main-nav.active {
        display: flex;
    }

    #menu-toggle {
        display: block;
    }

    #search-icon {
        display: none;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    nav ul .submenu {
        position: static;
        width: 100%;
    }
    #prenav #logopagina {
        width: 150px;
        margin-left: 28%;
    }

    #prenav #micuenta{
        margin-left: 20%;
    
    } 
    #contenedor3{
        height: 1000px;
        flex-direction: column;
    }

    #contenedor3 #textos2{
        width: 100%;
        margin: auto;
        margin-bottom: 50px;
    }

    #contenedor3 #textos2 h3, p {
        width: 100%;
    }


    #contenedor3 .carousel{
        width: 100%;
        height: 580px;
        margin: auto;
        
    }

    footer #redes {
        margin: auto;
    }

    footer #instagram, footer #twitter, footer #youtubee, footer #behance{
        padding: 6%;
    }


  /*Pagina de Proyectos Comics*/

  #contenedor7, #contenedor8, #contenedor9 {
    height: 680px;

}
#contenedor7 .row, #contenedor8 .row, #contenedor9 .row{
   flex-direction: column;

}

#contenedor7 .row .col, #contenedor8 .row .col, #contenedor9 .row .col{
   margin: auto;

}

#contenedor7 .row #imagenComic, #contenedor8 .row #imagenComic2, #contenedor9 .row #imagenComic3{
   width: 400px;
   margin-bottom: 20px;
}

   
}
   
    



@media (max-width: 800px) {

    #contenedor1{
        flex-direction: column;
        margin: auto;
        margin-bottom: 60px;
        width: 90%;
    }

    #contenedor1 .image-container, .image-container2, .image-container3, .image-container4, .image-container5{
        margin: auto;
        width: 100%;
    }

    #contenedor1 img{
        width: 100%; /* Hace que la imagen se ajuste al ancho del contenedor */
        height: 110%; /* Hace que la imagen se ajuste a la altura del contenedor */
        object-fit: cover;
        object-position: center 15%;
        
    }

    #contenedor2 {
        flex-direction: column;
        margin-top: 30px;
       
    }

    #contenedor2 #titulos, #contenedor2 #textos{
        margin: auto;
       
    }

    #contenedor2 #textos{
        width: 520px;
       
    }
 



}

@media (max-width: 680px) {

    #prenav #logopagina{
            margin-left: 25% ;
    }
}

@media (max-width: 570px) {

    #prenav #logopagina{
        margin-left: 20% ;
}

    #contenedor2 #titulos {
        width: 190px;
       
    }

    #contenedor2 #titulos, #contenedor2 #textos{
        margin: auto;
       
    }

    #contenedor2 #titulos h3{
        font-size: 35px
    }

    #contenedor2 #titulos h6{
        font-size: 28px
    }

    #contenedor2 #textos{
        width: 85%;
        
       
    }
    #contenedor2 #textos p, #contenedor2 #textos a{
        font-size: 13px;
 
       
    }



    #contenedor4 {
        height: 2500px;
    }
    #contenedor4 #cartas{
        flex-direction: column;
        height: 2250px;
        justify-content: center;
}

.card1{
    margin-top: 20px;
    margin: auto;
    width: 74%; /* Ancho de la tarjeta */
    height: 28%; /* Altura de la tarjeta */
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 30px;
    
}

.card-description #botonSabermas{
    
    padding: 1,8%;
    padding-left: 4%;
    padding-right: 4%;
}

.card-description{
    height: 70%;
}



}





@media (min-width: 1001px) {
    #search-icon {
        display: block;
    }

    #menu-toggle {
        display: none;
    }
}

@media (max-width: 490px) {
    #prenav #micuenta{
        margin-left: 16%;
    }

}



@media (max-width: 360px) {

    #contenedor2 {
        flex-direction: column;
        margin-top: 30px;
       
    }
    #contenedor2 #titulos {
        width: 140px;
       
    }

    #contenedor2 #titulos, #contenedor2 #textos{
        margin: auto;
       
    }

    #contenedor2 #titulos h3{
        font-size: 30px
    }

    #contenedor2 #titulos h6{
        font-size: 24px
    }
    #contenedor2 #textos p, #contenedor2 #textos a{
        font-size: 11px;
 
       
    }

    #contenedor3 #textos2 h3{
        font-size: 30px
    }

    #contenedor3 #textos2 p, #contenedor3 #textos2 a{
        font-size: 12px
    }

    #contenedor3 .carousel{
        height: 380px;
    }


}








