html {
    height: 100%;
    width: 100%;
    background-color:#FFC3D2;
  }
#contenedor1 {
  background-color: #FFC3D2;
}

#contenedor1 img{
  margin-left: 580px;
}

#contenedor2{
  background-color: white;
  width: 28%;
  margin-left: 500px;
  border-radius: 20px;
}
  
  #personaicon {
    margin-left: 46%;
    border-radius: 100%;
    border-style: solid;
    border-width: 3px;
    border-color: #FFC3D2;
    color: #FFC3D2;
    margin-top: 50px;
    
  }


  h5, p {
    color: #A97280;
    margin-left: 50px;
  }

  #contenedor2 .form-control{
    width: 50%;
    margin-left: 50px;
  }

  #contenedor2 .btn {
    background-color: #FFC3D2;
    color: white;
    margin-left: 50px;
  }

  #contenedor2 a{
    color: #A97280;
  }


 

 